body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Montserrat', sans-serif;
}

nav .fas {
    display: none;
}

.collapsed .fas {
    display: block;
}

nav,
.flexbox {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

nav {
    z-index: 100;
    background: rgba(220, 220, 220, 0.3);
    padding: 20px 75px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: rgb(155, 155, 155);
    transition: background .1s ease-in;
}

#brand {
    font-weight: 400;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: rgb(155, 155, 155) 2px solid;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.109);
    padding: 5px 10px;
    border-radius: 30px;
    position: absolute;
    right: 100px;
}

nav ul li a {
    padding: 5px 10px;
    text-decoration: none;
    color: rgb(155, 155, 155);
    transition: color .1s ease-in;
}

nav ul li {
    transition: .1s ease-in-out;
}

nav ul li:hover {
    padding: 0 20px;
    transition: .1s ease-in-out;
    font-size: 20px;
}

main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    background: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

main::before {

    opacity: .81;
    background: linear-gradient(rgba(255, 255, 255, 0.281), black);
    height: 100%;
    width: 100%;
    position: absolute;
    content: " ";
}

main * {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.301);
    z-index: 10;
    color: white;
}

main>div {
    padding-left: 75px;
    width: 50%;
}

main>div>* {
    padding: 10px 0;
}

#emailList {
    background: white;
    padding: 0px;
    display: flex;
    height: 50px;
    width: 450px;
    margin-top: 15px;
}

#email {
    padding: 10px;
    flex-grow: 3;
    border: none;
    color: black;
}

#sbmtBTN {
    border: none;
    background: firebrick;
    padding: 0 10px;
    cursor: pointer;
}

#About {
    box-shadow: 0 0px 100px rgba(0, 0, 0, 0.609) inset;
    min-height: 300px;
    padding: 20px 75px;
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.41'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
}

#About div {
    background: #fff;
    padding: 30px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 0px 100px rgba(0, 0, 0, 0.609);
}

.scrolled {
    transition: background .1s ease-in;
    background: #fff;

}

.scrolled *,
.scrolled * * {
    transition: color .1s ease-in;
    color: black;
    border-color: black;
}

@media only screen and (max-width:820px) {
    nav ul {
        display: none;
    }

    main {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    main>div {
        padding-left: 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #emailList {
        flex-direction: column;
        width: 90%;
    }

    #sbmtBTN,
    #email {
        flex-grow: 1;
        height: 50px !important;
        padding: 10px;
        box-sizing: border-box;
    }

    #About {
        padding: 20px;
    }
}

footer {
    padding: 20px 75px;
}

#links {
    justify-content: space-evenly;
    width: 100px;
}

#links a {
    color: black;
    font-size: 1.2rem;
    line-height: 0;
}